<form [formGroup]="form">
    <div style="display: flex; flex-direction: row;">
        <div style="padding-right: 5px; flex: 3 2 30%;">
            <mat-form-field appearance="fill">
                <mat-label>Datasource</mat-label>
                <mat-select formControlName="datasource">
                    <mat-option *ngFor="let datasource of (datasources$ | async)" [value]="datasource">
                        {{datasource}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <div>ID           {{(datasource$ | async)?._id}}</div>
                <div>Name         {{(datasource$ | async)?.name}}</div>
                <div>Description  {{(datasource$ | async)?.description}}</div>
            </div>
        </div>
        <div style="padding-right: 5px; flex: 3 2 30%;">
            <mat-form-field appearance="fill">
                <mat-label>Dataset</mat-label>
                <mat-select formControlName="dataset">
                    <mat-option *ngFor="let dataset of (datasource$ | async)?.datasets" [value]="dataset.title">
                        {{dataset.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="padding-right: 5px; flex: 3 2 30%;">
            <mat-form-field appearance="fill">
                <mat-label>Tags</mat-label>
                <mat-select formControlName="tags" multiple>
                    <mat-option *ngFor="let tag of (tags$ | async)" [value]="tag.tag">
                        {{tag.tag}} - {{tag.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>

